body {
	background-color: #1a1a1a;
	color: white;
	padding-left: 50px;
	padding-right: 300px;
}

header {
	padding-top: 10px;
	margin-left: 400px;
	letter-spacing: .5em;
}

#green {
	color: green;
}

#red {
	color: red;
}

.container-fluid-left {
	float: left;
}

.container-fluid-right {
	float: right;
	padding-top: 10px;
	padding-right: 300px;
}




