body {
	background-color: #1a1a1a;
	color: white;
	padding-left: 50px;
	padding-right: 300px;
}

header {
	padding-top: 10px;
	margin-left: 350px;
	letter-spacing: .5em;
}

h3 {
	padding-left: 58px;
}

#green {
	color: green;
	font-family: courier;
	font-weight: bolder;
}

#red {
	color: red;
	font-family: courier;
	font-weight: bolder;
}

.container-fluid-left {
	padding-top: 20px;
	float: left;
}

.container-fluid-right {
	float: right;
	padding-top: 40px;
	padding-right: 300px;
}